<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <logger>
    <target value="file" file="log/file.log" flag="ymlog" rollTimeInMinutes="1" rollSizeInKb="1" maxRollBackups="5"/>
    <priority value="warn"/>
    <pattern value="%date [%priority] %message%newline"/>
  </logger>
</configuration>